* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  /* background: url(wefwef) center no-repeat/cover; */
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 100px;
  width: 100px;
  color: aliceblue;

  background-color:rgb(35, 165, 208);
  border-radius: 50%;

  transition: 0.2s;
  animation-name: anim;

animation: anim 2s infinite;
}
.a i{
  animation: rotate 1s cubic-bezier(0,0,0,0) 0s infinite alternate;
}

/* .a:hover {
  box-shadow: 0 0 2px 20px black, 0 0 2px 40px rgba(255, 0, 0, 0.423);
} */


/*1) телефончик звенит*/
@keyframes anim {
  from{
       box-shadow:0 0 2px 0px rgba(38, 153, 220, 0.289), 0 0 2px 0px rgba(38, 153, 220, 0.32) ;
  }
  to{
    box-shadow: 0 0 2px 30px rgba(38, 153, 220, 0.203), 0 0 2px 50px rgba(38, 153, 220, 0.042);
  }
}
@keyframes rotate{
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(5deg);
  }
 
}